body {
    background-color: #f8f8ff;
    font-family: 'M PLUS Rounded 1c';
}

h2 {
    color: rgb(64, 64, 64);
    font-size: 27px;
}

h3 {
    color: rgb(64, 64, 64);
    font-size: 23px;
}

.App {
    height: 100vh;
}

.page-holder {
    margin-top: 50px;
    display: flex;
    /* align-items: baseline; */
    justify-content: center;
    gap: 30px;
    height: fit-content;
}

@media (max-width: 1580px) {
    .page-holder {
        display: inline-block;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
