.modal-project-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: scale(0);
}
.modal-project-container.active {
    transform: scale(1);
}

.modal-project-content {
    padding: 20px;
    border-radius: 14px;
    background-color: white;
    width: 900px;
    height: 700px;
}
