.modal-project-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.modal-project-container.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-project-content {
    padding: 10px 20px 0px 20px; /*вверх право низ лево*/
    border-radius: 14px;
    background-color: white;
    width: 900px;
    height: 700px;
}

.modal-header {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.close-modal-project-botton {
    cursor: pointer;
}
.close-modal-project-botton:hover {
    color: rgb(124, 124, 124);
}
